.profileDiv {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.profileDiv:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.completediv {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupformDiv {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
  font-size: 1.1rem;
}

input,
.selectOptionType {
  padding: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 16px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

input:focus,
.selectOptionType:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

button {
  padding: 8px;
  margin-top: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

.imageUpload {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.imageUpload:hover {
  background-color: #bbb;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.formdiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1vh;
}

@media (max-width: 768px) {
  .profileDiv {
    padding: 30px;
    margin: 20px auto;
  }

  h2 {
    font-size: 1.8rem;
  }

  input,
  button {
    font-size: 14px;
  }

  .label {
    font-size: 0.9rem;
  }

  .imageUpload {
    width: 120px;
    height: 120px;
  }
}
